<div class="row top-30">

  <div id="home">

    <section class="hero is-dark is-medium workout-container">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title ">
            Welcome to Workwout Planner
          </h1> <br>
          <h2 class="subtitle">
            Your leading working planning resource.
          </h2>
        </div>
      </div>
      <br><br>
      <div class="subtitle">
        <div class="btnHome">

          <button class="button" style="margin-left: 5 rem; margin-right: 5rem;"><a href="/list">List
              Current Exercises</a></button>
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a
              href="/exercise">Add
              an Exercise </a></button>
          <button class="button is-light is-large" style="margin-left: 5 rem; margin-right: 5rem;"><a
              href="/workouts">Wiew and Manage Workouts</a></button>
        </div>
      </div>
    </section>

  </div>

</div>