<div class="container">
    <div class="row top-30">
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="workout-container">
                <h1>Current Workouts</h1>

                <table class="table table-striped">
                    <thead>
                        <form id="workout-form">
                            <td colspan="4">
                                <input placeholder="Enter a Workout" id="workout-name" type="text" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success">Create Workout</button>
                            </td>
                        </form>
                        <tr>
                            <th>Workout Plan</th>
                            {{!-- <th># of Posts</th>  Future add-on feature --}}
                            <th>View Workout Plan</th>
                            <th>Add An Exercise</th>
                            <th>Delete Workout</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="form-row">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Custom Script -->
<script src="js/workout.js" type="text/javascript"></script>